@import '@styles/vars';
@import '@styles/fonts';
@import '@styles/utils';

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
  
  @media only screen and (min-width: $max) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc($life * 2);
  box-sizing: border-box;

  text-align: center;
  
   @media only screen and (min-width: $max) {
    flex-basis: calc(50% - 5px);
    height: calc($life * 2);
   }
}

.project a {
  position: relative;
  display: block;
  margin: auto;
  color: $background;
  transform: translateY(-50%);

  &:hover {
    color: $synth-1;
  }
}

.analogue {
  font-family: $pink-coast;
  font-size: 5rem;
  line-height: calc($life * 0.75);
  top: 57%;
  width: 100%;

  @media only screen and (min-width: $max) {
    font-size: calc($life);
    line-height: calc($life * 0.75);
    top: 57%;
    width: 70%;
  }
}

.unttld {
  font-family: $viva-bold;
  font-size: calc($life * 1.5);
  text-transform: uppercase;
  top: 50%;

  @media only screen and (min-width: $max) {
    font-size: 3rem;
    text-transform: uppercase;
    top: 50%;
  }
}

.anneteefa {
  font-family: $embro;
  font-size: 1.5rem;
  line-height: 1.75rem;
  top: 50%;

  @media only screen and (min-width: $max) {
    font-size: 0.8rem;
    line-height: 1.25rem;
    top: 50%;
  }
}

.anneteefa p {
  font-family: $script;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  margin-bottom: 0;

  @media only screen and (min-width: $max) {
    font-size: 1.65rem;
    margin: 0;
  }
  &:last-child {
    font-family: $embro;
    font-size: 0.75rem;
    line-height: 1rem;

    @media only screen and (min-width: $max) {
      font-size: 0.5rem;
      line-height: 0.75rem;
    }
  }
}

.cosmonaut {
  font-family: $lucida;
  font-size: calc($life * 0.75);
  font-weight: bold;
  text-transform: lowercase;
  top: 50%;

  @media only screen and (min-width: $max) {
    font-size: 1rem;
    text-transform: lowercase;
    top: 50%;
  }
}

.mystery {
  font-family: $numismatic;
  font-size: 1.75rem;
  text-transform: lowercase;
  top: 52%;

  @media only screen and (min-width: $max) {
    font-size: 0.9rem;
    text-transform: lowercase;
    top: 52%;
  }
}
