@use '../vars' as vars;
@use '../fonts';
@use '../utils';

.kindness {
  font-family: vars.$italic;
}

.kindness li {
  color: vars.$black;
  list-style-type: circle;
  margin-bottom: vars.$line-height-half;
  transition: all 0.5s ease;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.kindness a {
  // color: vars.$magenta;
  font-family: vars.$regular;

  &:hover {
    color: vars.$link-hover;
  }
}
