@use '../vars' as vars;
@use '../fonts';
@use '../utils';

.masthead {
  margin-top: vars.$life;

  @media only screen and (min-width: vars.$max) {
  }
}

.title {
  font-family: 'Briar-Display', vars.$fallback;
  margin: 0;
}

.photograph {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  padding: 0;
  margin: vars.$line-height 0;

  @media only screen and (min-width: vars.$max) {
    padding: 0;
  }
}
