@import '@styles/vars';
@import '@styles/fonts';
@import '@styles/utils';

.place p {
  font-family: $italic;
  margin-bottom: 0;
}

.place ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
}

.place li {
  // color: $magenta;
  color: $link;
  list-style-type: none;
  margin-right: 10px;
  margin-left: 0;
  padding-left: 0;
  transition: all 0.5s ease;

  &:last-child {
    a {
      &:after {
        content: '';
      }
    }
  }
}

.place li:hover.work,
.place li:hover.hobby,
.place li:hover.personal {
  list-style-type: none;
}

.place li:hover.hobby,
.place li.hobby a:hover {
  color: $link-hover-hobby;
}

.place li:hover.personal,
.place li.personal a:hover {
  color: $link-hover-personal;
}

.place li:hover.work,
.place li.work a:hover {
  color: $link-hover-work;
}

.place a {
  display: block;

  &:after {
    content: ',';
  }

  // &:last-child {
  //   &:after {
  //     content: '';
  //   }
  // }
}
