@use 'vars' as vars;
@use 'fonts';
@use 'utils';

html, body {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: vars.$line-height;

  @media only screen and (min-width: vars.$max) {
    font-size: 24px;
    line-height: vars.$line-height;
  }
}

body {
  background-blend-mode:luminosity;
  background-color: vars.$background-alt;
  background-image: url('/assets/images/gradient.jpeg');
  background-size: cover;
  color: vars.$k-black;
}

a {
  color: vars.$link;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover {
    color: vars.$link-hover;
  }
}

h1 {
  color: vars.$cbc-vintage-red;
  font-family: vars.$bold;
  font-size: 1.6rem;

  @media only screen and (min-width: vars.$max) {
    font-size: 2rem;
  }
}

h2 {
  margin: vars.$line-height-half 0;

  font-family: vars.$bold;
  font-size: 1.2rem;

  @media only screen and (min-width: vars.$max) {
    font-size: 1.1rem;
  }
}

h3 {
  font-family: vars.$bold-italic;
  font-size: 1.0rem;

  @media only screen and (min-width: calc(vars.$max * 0.25)) {
    font-size: 1.1rem;
  }

  @media only screen and (min-width: calc(vars.$max * 0.5)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: calc(vars.$max * 0.75)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: vars.$max) {
    font-size: 1.1rem;
  }
}

p {
  font-size: 1rem;
  margin: 0;
  margin-bottom: vars.$line-height;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  margin-left: 1rem;
  padding: 0;

  @media only screen and (min-width: vars.$max) {
    margin-left: 0;
  }
}

li {
  &:last-child {
    margin-bottom: 0;
  }
}

em {
  font-family: vars.$italic;

  strong {
    color: vars.$magenta;
    background: linear-gradient(90deg, vars.$magenta 0%, vars.$cyan 100%);
    font-family: vars.$bold-italic;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

strong {
  font-family: vars.$bold;
}
