@import '@styles/vars';
@import '@styles/fonts';

* {
  font-size: 16px;
  line-height: 24px;

  @media only screen and (min-width: $max) {
    font-size: 24px;
    line-height: 32px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/assets/images/gradient.jpeg');
  background-size: cover;
}

a {
  color: $link;
  text-decoration: none;
  transition: color 0.5s ease;

  &:hover {
    color: $link-hover;
  }
}

h2 {
  font-family: $bold;
  font-size: 1.0rem;

  @media only screen and (min-width: calc($max * 0.25)) {
    font-size: 1.1rem;
  }

  @media only screen and (min-width: calc($max * 0.5)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: calc($max * 0.75)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: $max) {
    font-size: 1.1rem;
  }
}

h3 {
  font-family: $bold-italic;
  font-size: 1.0rem;

  @media only screen and (min-width: calc($max * 0.25)) {
    font-size: 1.1rem;
  }

  @media only screen and (min-width: calc($max * 0.5)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: calc($max * 0.75)) {
    font-size: 1.4rem;
  }

  @media only screen and (min-width: $max) {
    font-size: 1.1rem;
  }
}
